In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
df = pd.read_csv(r"C:\Users\User\Downloads\Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
df.drop(['CreditScore'], axis = 'columns', inplace = True)

In [6]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [7]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [9]:
df1 = pd.get_dummies(data=df, columns=['Geography',
       'Gender'])
df1.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited', 'Geography_France', 'Geography_Germany', 'Geography_Spain',
       'Gender_Female', 'Gender_Male'],
      dtype='object')

In [10]:
cols_to_scale = ['Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])

In [11]:
df1.info

<bound method DataFrame.info of       RowNumber  CustomerId    Surname       Age  Tenure   Balance  \
0             1    15634602   Hargrave  0.324324     0.2  0.000000
1             2    15647311       Hill  0.310811     0.1  0.334031
2             3    15619304       Onio  0.324324     0.8  0.636357
3             4    15701354       Boni  0.283784     0.1  0.000000
4             5    15737888   Mitchell  0.337838     0.2  0.500246
...         ...         ...        ...       ...     ...       ...
9995       9996    15606229   Obijiaku  0.283784     0.5  0.000000
9996       9997    15569892  Johnstone  0.229730     1.0  0.228657
9997       9998    15584532        Liu  0.243243     0.7  0.000000
9998       9999    15682355  Sabbatini  0.324324     0.3  0.299226
9999      10000    15628319     Walker  0.135135     0.4  0.518708

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  \
0          0.000000        1.0             1.0         0.506735       1
1          0.000000        0.0             1.0         0.562709       0
2          0.666667        1.0             0.0         0.569654       1
3          0.333333        0.0             0.0         0.469120       0
4          0.000000        1.0             1.0         0.395400       0
...             ...        ...             ...              ...     ...
9995       0.333333        1.0             0.0         0.481341       0
9996       0.000000        1.0             1.0         0.508490       0
9997       0.000000        0.0             1.0         0.210390       1
9998       0.333333        1.0             0.0         0.464429       1
9999       0.000000        1.0             0.0         0.190914       0

      Geography_France  Geography_Germany  Geography_Spain  Gender_Female  \
0                    1                  0                0              1
1                    0                  0                1              1
2                    1                  0                0              1
3                    1                  0                0              1
4                    0                  0                1              1
...                ...                ...              ...            ...
9995                 1                  0                0              0
9996                 1                  0                0              0
9997                 1                  0                0              1
9998                 0                  1                0              0
9999                 1                  0                0              1

      Gender_Male
0               0
1               0
2               0
3               0
4               0
...           ...
9995            1
9996            1
9997            0
9998            1
9999            0

[10000 rows x 16 columns]>

In [15]:
X = df1.drop('Exited',axis='columns')
y = df1['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [16]:
len(X_train)

8000

In [19]:
import tensorflow as tf
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Dense(26, input_shape=(13,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer=opt,
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=50)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [18]:
X_train.shape

(8000, 15)

In [ ]:
model.evaluate(X_test, y_test)